<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "fr.gaetanrenaudeau.chess"
	version 	= "1.0.0">

	<name>Chess</name>
	<description>A Chess Game demo</description>
	<author href="http://greweb.fr" email="renaudeau.gaetan@gmail.com">
	    Gaetan Renaudeau
	</author>

	<icon src="icon.png" gap:role="default" />
	
  <feature name="http://api.phonegap.com/1.0/network"/>
  <preference name="orientation" value="portrait" />
</widget>
